<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Obis Network - Home</title>
    <meta name="description" content="Obis Network menjual layanan seperti Optical Character Recognition,  Seeder-Leecher Torrent, 
    dan Service Lainnya. Obis juga menerima pembayaran Lokal Bank-Bank Indonesia dan Bitcoin">
    <meta name="author" content="Obist Network">
    <meta property="og:url" content="https://Obis.net/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Obis Network - Home">
    <meta property="og:image" content="https://Obis.net/public/images/untitled.png">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@ObisNetwork"/>
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Hahmlet">
  </head>

  <body class="background">
    <nav class="topnav" id="myTopnav">
      <img class= 'logo' src="images/Untitled.png">
      <input id="menu-toggle" type="checkbox" />
      <label class='menu-button-container' for="menu-toggle">
      <div class='menu-button'></div>
      </label>

      <ul class="menu">
        <li><a class="active" href="/"><i class="fa fa-home"></i>&nbsp;&nbsp;Home</a></li>
        <li><a href="/OCR"><i class="fa fa-camera"></i>&nbsp;&nbsp;OCR</a></li>
        <li><a href="/VPN"><i class="fa fa-globe"></i>&nbsp;&nbsp;VPN</a></li>
        <li><a href="/Torrent"><i class="fa fa-percent"></i>&nbsp;&nbsp;Torrent</a></li>
        <li><a href="/Pembayaran"><i class="fa fa-money"></i>&nbsp;&nbsp;Cara Pembayaran</a></li>
        <li><a href="/ClientArea"><i class="fa fa-fw fa-user"></i>&nbsp;&nbsp;Client Area / Login </a></li>
      </ul>
    </nav>
    
    <div class="content">
      <h2>Situs Penyedia Layanan Torrent, VPN, dan OCR</h2>
      <p>Kami menjunjung tinggi privacy dan kepercayaan anda dalam menggunakan layanan kami.<br>
        Oleh karena itu, kami berinovasi dengan 
      </p>

      <h2>Microsoft Edge</h2>
      <p>MIpsum dolor sit amet consectetur adipiscing. Eget est lorem ipsum dolor sit amet consectetur adipiscing. Sem viverra aliquet eget sit. Est ante in nibh mauris.
        <br> Ligula ullamcorper malesuada proin libero nunc consequat. Auctor eu augue ut lectus arcu bibendum at. Egestas pretium aenean pharetra magna ac placerat vestibulum <br> lectus mauris. 
        Ornare quam viverra orci sagittis eu volutpat. Pharetra diam sit amet nisl. Posuere urna nec tincidunt praesent semper. Quis lectus nulla at volutpat diam ut venenatis tellus. 
        <br> Elementum sagittis vitae et leo duis ut diam quam nulla. Porttitor rhoncus dolor purus non enim praesent. Lobortis mattis aliquam faucibus purus in massa. 
         Gravida neque convallis a cras semper <br> auctor.  Purus faucibus ornare suspendisse sed nisi lacus sed viverra tellus. Aliquet nibh praesent tristique 
         magna sit amet purus gravida.</p>

      <svg viewBox="0 0 1440 319">
        <path fill="#fff" fill-opacity="1" d="M0,32L48,80C96,128,192,224,288,224C384,224,480,128,576,90.7C672,53,768,75,864,96C960,117,1056,139,1152,149.3C1248,160,1344,160,1392,160L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
      </svg>

      <h2>Microsoft Word</h2>
      <p>Proin sagittis nisl rhoncus mattis rhoncus urna neque. Sapien eget mi proin sed libero enim sed faucibus turpis. Sit amet nisl suscipit adipiscing. <br> Magna fringilla urna porttitor
         rhoncus dolor purus. Purus in massa tempor nec feugiat nisl pretium. Morbi leo urna molestie at elementum eu facilisis sed odio. <br> Neque convallis a cras semper auctor neque vitae tempus. 
         Lorem mollis aliquam ut porttitor leo a diam. Erat pellentesque adipiscing commodo elit at. <br> Quis commodo odio aenean sed adipiscing. Aliquam ultrices sagittis orci a scelerisque purus. 
         Faucibus ornare suspendisse sed nisi lacus. <br> Turpis massa tincidunt dui ut ornare lectus sit. Aliquam vestibulum morbi blandit cursus. Sit amet dictum sit amet justo donec enim diam.<br>  
         Nibh venenatis cras sed felis eget velit aliquet sagittis id. Pretium viverra suspendisse potenti nullam ac tortor vitae purus faucibus. 
         <br> Quam adipiscing vitae proin sagittis nisl rhoncus mattis. Cursus sit amet dictum sit amet justo donec.</p>

      <h2>Microsoft Word</h2>
      <p>Proin sagittis nisl rhoncus mattis rhoncus urna neque. Sapien eget mi proin sed libero enim sed faucibus turpis. Sit amet nisl suscipit adipiscing. <br> Magna fringilla urna porttitor
         rhoncus dolor purus. Purus in massa tempor nec feugiat nisl pretium. Morbi leo urna molestie at elementum eu facilisis sed odio. <br> Neque convallis a cras semper auctor neque vitae tempus. 
         Lorem mollis aliquam ut porttitor leo a diam. Erat pellentesque adipiscing commodo elit at. <br> Quis commodo odio aenean sed adipiscing. Aliquam ultrices sagittis orci a scelerisque purus. 
         Faucibus ornare suspendisse sed nisi lacus. <br> Turpis massa tincidunt dui ut ornare lectus sit. Aliquam vestibulum morbi blandit cursus. Sit amet dictum sit amet justo donec enim diam.<br>  
         Nibh venenatis cras sed felis eget velit aliquet sagittis id. Pretium viverra suspendisse potenti nullam ac tortor vitae purus faucibus. 
         <br> Quam adipiscing vitae proin sagittis nisl rhoncus mattis. Cursus sit amet dictum sit amet justo donec.</p>
      </div> 

    <footer class="footer">
      <div class="ft-main-item">
        <h2 class="ft-title">Tentang Kita</h2> 
        <p>Obis Network adalah </p>
      </div>
      <div class="ft-main-item">
        <h2 class="ft-title">Tautan</h2> 
        <p>Prasyarat Penggunaan</p>
        <p>Tentang Perusahaan</p>
        <p>Pusat Bantuan</p>
        <p>Pengembalian Dana</p>
      </div>
      <div class="ft-main-item">
        <h2 class="ft-title">Social Media</h2> 
        <li>Obis Network Facebook</li>  
        <li>Obis Network Twitter</li>
        <li>Obis Network Youtube</li>
        <li>Status Operasional</li>
      </div>
    </footer>   
  </body>
</html>
