<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Obis Network - Home</title>
    <meta name="description" content="Obis Network menyediakan layanan seperti Seeder-Leecher Torrent, 
    dan Service Lainnya. Obis juga menerima pembayaran Lokal Bank-Bank Indonesia dan Bitcoin">
    <meta name="author" content="Obist Network">
    <meta property="og:url" content="https://Obis.net/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Obis Network - Home">
    <meta property="og:image" content="https://Obis.net/public/images/untitled.png">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@ObisNetwork"/>
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Hahmlet&family=Sora&display=swap" rel="stylesheet">
  </head>

  <body class="background">
    <nav class="topnav" id="myTopnav">
      <img class='logo' src="images/Untitled.png">
      <input id="menu-toggle" type="checkbox" />
      <label class='menu-button-container' for="menu-toggle">
      <div class='menu-button'></div>
      </label>

      <ul class="menu">
        <li><a class="active" href="/"><i class="fa fa-home"></i>&nbsp;&nbsp;Home</a></li>
        <!-- <li><a href="/OCR"><i class="fa fa-camera"></i>&nbsp;&nbsp;OCR</a></li>  -->
        <li><a href="/VPN"><i class="fa fa-globe"></i>&nbsp;&nbsp;VPN</a></li>
        <li><a href="/Torrent"><i class="fa fa-percent"></i>&nbsp;&nbsp;Torrent</a></li>
        <li><a href="/Pembayaran"><i class="fa fa-money"></i>&nbsp;&nbsp;Cara Pembayaran</a></li>
        <li><a href="/ClientArea"><i class="fa fa-fw fa-user"></i>&nbsp;&nbsp;Client Area / Login </a></li>
      </ul>
    </nav>
    
    <div class="content">
      <h1>Situs Penyedia Layanan Torrent, VPN, dan OCR</h1>
      <p><i class="fa fa-check-square-o" aria-hidden="true"></i>&nbsp;Menyediakan Registrasi & Log-In Anonim</p>
      <p><i class="fa fa-check-square-o" aria-hidden="true"></i>&nbsp;Penggunaan Keamanan Enkripsi Terbaik</p>
      <p><i class="fa fa-check-square-o" aria-hidden="true"></i>&nbsp;Harga yang Bersaing</p>
      <p>Buat 2 Box : Registrasi Sekarang dan Info Lebih Lengkap</p>
      <p>Buat SVG yang sesuai</p>

      <svg viewBox="0 0 1440 319">
        <path fill="#fff" fill-opacity="1" d="M0,32L48,80C96,128,192,224,288,224C384,224,480,128,576,90.7C672,53,768,75,864,96C960,117,1056,139,1152,149.3C1248,160,1344,160,1392,160L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
      </svg>

      <h2>Microsoft Word</h2>
      <p>Proin sagittis nisl rhoncus mattis rhoncus urna neque. Sapien eget mi proin sed libero enim sed faucibus turpis. Sit amet nisl suscipit adipiscing. <br> Magna fringilla urna porttitor
         rhoncus dolor purus. Purus in massa tempor nec feugiat nisl pretium. Morbi leo urna molestie at elementum eu facilisis sed odio. <br> Neque convallis a cras semper auctor neque vitae tempus. 
         Lorem mollis aliquam ut porttitor leo a diam. Erat pellentesque adipiscing commodo elit at. <br> Quis commodo odio aenean sed adipiscing. Aliquam ultrices sagittis orci a scelerisque purus. 
         Faucibus ornare suspendisse sed nisi lacus. <br> Turpis massa tincidunt dui ut ornare lectus sit. Aliquam vestibulum morbi blandit cursus. Sit amet dictum sit amet justo donec enim diam.<br>  
         Nibh venenatis cras sed felis eget velit aliquet sagittis id. Pretium viverra suspendisse potenti nullam ac tortor vitae purus faucibus. 
         <br> Quam adipiscing vitae proin sagittis nisl rhoncus mattis. Cursus sit amet dictum sit amet justo donec.</p>

      <h2>Microsoft Word</h2>
      <p>Proin sagittis nisl rhoncus mattis rhoncus urna neque. Sapien eget mi proin sed libero enim sed faucibus turpis. Sit amet nisl suscipit adipiscing. <br> Magna fringilla urna porttitor
         rhoncus dolor purus. Purus in massa tempor nec feugiat nisl pretium. Morbi leo urna molestie at elementum eu facilisis sed odio. <br> Neque convallis a cras semper auctor neque vitae tempus. 
         Lorem mollis aliquam ut porttitor leo a diam. Erat pellentesque adipiscing commodo elit at. <br> Quis commodo odio aenean sed adipiscing. Aliquam ultrices sagittis orci a scelerisque purus. 
         Faucibus ornare suspendisse sed nisi lacus. <br> Turpis massa tincidunt dui ut ornare lectus sit. Aliquam vestibulum morbi blandit cursus. Sit amet dictum sit amet justo donec enim diam.<br>  
         Nibh venenatis cras sed felis eget velit aliquet sagittis id. Pretium viverra suspendisse potenti nullam ac tortor vitae purus faucibus. 
         <br> Quam adipiscing vitae proin sagittis nisl rhoncus mattis. Cursus sit amet dictum sit amet justo donec.</p>
      </div> 
    <footer class="footer">
      <div class="ft-main-item">
        <h2 class="ft-title">Alamat Virtual Office & Jam Operasional</h2> 
        <h3>Jalan Manunggal No.42, Meruya Selatan <br> Kembangan, Jakarta Barat<br>09.00 - 18.30 WIB</h3>
      </div>
      <div class="ft-main-item">
        <h2 class="ft-title">Layanan</h2> 
        <h3>Virtual Private Network</h3>
        <h3>Torrent/Leech Box</h3>
      </div>
      <div class="ft-main-item">
        <h2 class="ft-title">Tentang Kita</h2> 
        <h4>Tentang Perusahaan</h4>
        <h4>Keamanan Website</h4>
        <h3>Pusat Pertanyaan</h3>
        <h3>Blog</h3>
      </div>
      <div class="ft-main-item">
        <h2 class="ft-title">Panduan</h2> 
        <h3>Cara Pembayaran</h3>
        <h3>Prasyarat Penggunaan</h3>
      </div>
      <div class="ft-main-item">
        <h2 class="ft-title">Tautan Tambahan</h2> 
        <h3>Client Area / Login</h3>
        <h3>Status Layanan</h3>
        <h3>Pusat Bantuan</h3>
        <h3>Hubungi Kami</h3>
      </div>
      <div class="break"><hr></div>
        <h3>Copyright 2023 - @mohgavin</h3>
    </footer> 
  </body>
</html>
