<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Obist Network - Home</title>
    <meta name="description" content="Obist Network menjual layanan seperti Optical Character Recognition,  Seeder-Leecher Torrent, 
    dan Service Lainnya. Obis juga menerima pembayaran Lokal Bank-Bank Indonesia dan Bitcoin">
    <meta name="author" content="Obist Network">
    <meta property="og:url" content="https://Obist.net/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Obist Network - Home">
    <meta property="og:image" content="https://Obist.net/public/images/untitled.png">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@ObistNetwork"/>
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body class="background">
    <div class="myDiv"></div>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
