<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Obis Network - Home</title>
    <meta name="description" content="Obis Network menjual layanan seperti Optical Character Recognition,  Seeder-Leecher Torrent, 
    dan Service Lainnya. Obis juga menerima pembayaran Lokal Bank-Bank Indonesia dan Bitcoin">
    <meta name="author" content="Obist Network">
    <meta property="og:url" content="https://Obis.net/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Obis Network - Home">
    <meta property="og:image" content="https://Obis.net/public/images/untitled.png">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@ObisNetwork"/>
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Hahmlet">
  </head>

  <body class="background">
    <nav class="topnav" id="myTopnav">
      <img class= 'logo' src="images/Untitled.png">
      <input id="menu-toggle" type="checkbox" />
      <label class='menu-button-container' for="menu-toggle">
      <div class='menu-button'></div>
      </label>

      <ul class="menu">
        <li><a class="active" href="/"><i class="fa fa-home"></i>&nbsp;&nbsp;Home</a></li>
        <li><a href="/OCR"><i class="fa fa-camera"></i>&nbsp;&nbsp;OCR</a></li>
        <li><a href="/VPN"><i class="fa fa-globe"></i>&nbsp;&nbsp;VPN</a></li>
        <li><a href="/Torrent"><i class="fa fa-percent"></i>&nbsp;&nbsp;Torrent</a></li>
        <li><a href="/Pembayaran"><i class="fa fa-money"></i>&nbsp;&nbsp;Cara Pembayaran</a></li>
        <li><a href="/ClientArea"><i class="fa fa-fw fa-user"></i>&nbsp;&nbsp;Client Area / Login </a></li>
      </ul>
    </nav>
    
    <article class="content">
      <h1>Penyedia Layanan Torrent, VPN, dan OCR untuk Keperluan Pribadi dan Bisnis Anda</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Donec <br> adipiscing tristique risus nec feugiat in. Bibendum ut tristique et egestas quis ipsum suspendisse ultrices. 
        Sollicitudin aliquam ultrices sagittis orci a. <br> Vel facilisis volutpat est velit egestas dui id. 
        Venenatis tellus in metus vulputate eu scelerisque felis imperdiet proin. Augue neque gravida in fermentum <br> et sollicitudin ac orci phasellus. 
        Felis eget velit aliquet sagittis id consectetur purus ut faucibus. Nullam ac tortor vitae purus faucibus ornare. Platea dictumst <br> quisque sagittis purus sit. 
        Sit amet risus nullam eget felis. Tristique magna sit amet purus gravida. Ultrices sagittis orci a scelerisque purus semper eget duis. 
        <br> Velit egestas dui id ornare arcu odio ut sem nulla.
      </p>
      
      <h2>Microsoft Edge</h2>
      <p>Microsoft Edge is a web browser developed by Microsoft, released in 2015. Microsoft Edge replaced Internet Explorer.</p>
      </article> 

    <footer class="footer">
      <div class="ft-main-item">
        <h2 class="ft-title">Tentang Kita</h2> 
        <p>Obis Network adalah </p>
      </div>
      <div class="ft-main-item">
        <h2 class="ft-title">Tautan</h2> 
        <p>Prasyarat Penggunaan</p>
        <p>Tentang Perusahaan</p>
        <p>Pusat Bantuan</p>
        <p>Pengembalian Dana</p>
      </div>
      <div class="ft-main-item">
        <h2 class="ft-title">Social Media</h2> 
        <li>Obis Network Facebook</li>  
        <li>Obis Network Twitter</li>
        <li>Obis Network Youtube</li>
        <li>Status Operasional</li>
      </div>
    </footer>   
  </body>
</html>
