<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Obis Network - Home</title>
    <meta name="description" content="Obis Network menjual layanan seperti Optical Character Recognition,  Seeder-Leecher Torrent, 
    dan Service Lainnya. Obis juga menerima pembayaran Lokal Bank-Bank Indonesia dan Bitcoin">
    <meta name="author" content="Obist Network">
    <meta property="og:url" content="https://Obis.net/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Obis Network - Home">
    <meta property="og:image" content="https://Obis.net/public/images/untitled.png">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@ObisNetwork"/>
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Hahmlet">
    <script type="text/javascript" src="javascripts/responsive.js"></script>
  </head>

  <body class="background">
    <nav class="topnav" id="myTopnav">
      <div class="topnav-left">

      <a class="active" href="/">Home</a> 
      <a href="/Optical Character Recognition">OCR</a>
      <a href="/VPN">VPN</a>
      <a href="/Torrent">Torrent</a>
      <a href="/Tentang">Tentang Kita</a>
      <a href="/Cara Pembayaran">Cara Pembayaran</a>
      <a href="/ClientArea">Client Area</a>
      
      </div>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">  
        <i class="fa fa-bars"></i>  
      </a>
    </nav>
    
    <article>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      </article>
      
      <article>
      <h2>Mozilla Firefox</h2>
      <p>Mozilla Firefox is an open-source web browser developed by Mozilla. Firefox has been the second most popular web browser since January, 2018.</p>
      </article>
      
      <article>
      <h2>Microsoft Edge</h2>
      <p>Microsoft Edge is a web browser developed by Microsoft, released in 2015. Microsoft Edge replaced Internet Explorer.</p>
      </article> 

      <input type = "button" onclick = "myFunctiona()" value = "Display">

    <footer>
      <p>Author: Hege Refsnes<br>
      <a href="mailto:hege@example.com">hege@example.com</a></p>
    </footer>
    
    </div>
  </body>
</html>
