body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin:0;
  padding:0;
}

/* Add a White Background Color to the Body */
.background
{
    background-color: #ffffff;
}

 /* Add Grey color to the top navigation */
 .topnav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: linear-gradient(to left, #8527ff, #329cff);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  font-family: 'Hahmlet';font-size: 20px;color:white;
  height:60px;
}

/* Style the links inside the navigation bar */
.topnav a {

  color: #000000;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 17px;
  top:0;
  color:white;
  border-radius: 5px;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  color:white;
  margin: 0;
  padding: 14px;
}

.menu > li {
  overflow: none;
}

/* Change to Bold Font if links on hovered */
.topnav a:hover {
  color: white;
  font-weight: bold;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #9dabff;
  color: white;
}

/* Add Content CSS */

.content {
  padding-top: 45px;
  display:block;
}

/* Add Footer CSS */
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
}